<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OP-CONTROL</title>
</head>
<body>
    <ul>
        <li><a href="/control/opcontrol/can"><button type="submit">CAN</button></a></li>
        <li><a href="/control/opcontrol/plastic"><button type="submit">PLASTIC</button></a></li>
        <li><a href="/control/opcontrol/normal"><button type="submit">NORMAL</button></a></li>
        <li><a href="/control/opcontrol/glass"><button type="submit">GLASS</button></a></li>
    </ul>
    <br>
    <a href="/control"><button type="submit">BACK</button></a>
</body>
</html>